# EDA Notebook
the following code maps our EDA and how we decided on some visualizations

In [1]:
import pandas as pd
import numpy as np

In [2]:
restaurant = pd.read_csv('../Data/Restaurant.csv')

In [3]:
restaurant.head()

,Business Id,Business Name,Type,Latitude,Longitude,Ratings,Review_Counts,Price,Zipcode,Delivery
0,dh5r9-SbN8xJ76XvnayWLQ,Giano Restaurant,Italian,40.726226,-73.984057,4.5,614,$$,10009,True
1,Vs8kQ4R381y27AH018gLpg,Supper,Italian,40.722900,-73.985270,4.0,1315,$$,10009,True
2,WG639VkTjmK5dzydd1BBJA,Rubirosa,Italian,40.722766,-73.996233,4.5,2323,$$,10012,True
3,rp8S7scxOkVVeG7dNneMGQ,L'Artusi,Italian,40.733720,-74.005130,4.5,1880,$$$,10014,True
4,yZJbealagfujEkgesAl2hA,Lupa,Italian,40.727600,-74.000045,4.0,1556,$$$,10012,True

In [4]:
restaurant.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1035 entries, 0 to 1034
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Business Id    1035 non-null   object
 1   Business Name  1035 non-null   object
 2   Type           1035 non-null   object
 3   Latitude       1035 non-null   float64
 4   Longitude      1035 non-null   float64
 5   Ratings        1035 non-null   float64
 6   Review_Counts  1035 non-null   int64
 7   Price          1035 non-null   object
 8   Zipcode        1035 non-null   int64
 9   Delivery       1035 non-null   bool
dtypes: bool(1), float64(3), int64(2), object(4)
memory usage: 73.9+ KB

In [5]:
restaurant.describe()

          Latitude    Longitude      Ratings  Review_Counts       Zipcode
count  1035.000000  1035.000000  1035.000000    1035.000000   1035.000000
mean     40.721224   -73.987800     3.819324     278.343961  10461.581643
std       0.330702     0.741952     0.463580     408.902392   2311.299785
min      30.253537   -97.763551     2.000000       2.000000   7002.000000
25%      40.700332   -73.995584     3.500000      51.000000  10013.000000
50%      40.732097   -73.976613     4.000000     152.000000  10037.000000
75%      40.763032   -73.942876     4.000000     334.000000  11215.000000
max      40.980500   -73.651640     5.000000    5652.000000  78704.000000

In [6]:
#ratings by type on average

In [7]:
restaurant.groupby("Type")['Ratings'].mean()

Type
Chinese    3.659509
Italian    3.962454
Name: Ratings, dtype: float64

In [8]:
#distribution of Italian restaurants by price

In [9]:
restaurant[restaurant['Type'] == 'Italian']['Price'].value_counts(normalize=True)*100

$$      68.681319
$$$     26.739927
$$$$     2.747253
$        1.831502
Name: Price, dtype: float64

In [10]:
#small percent of high priced Chinese

In [11]:
restaurant[restaurant['Type'] == 'Chinese']['Price'].value_counts(normalize=True)*100

$       69.938650
$$      27.402863
$$$      2.249489
$$$$     0.408998
Name: Price, dtype: float64

In [12]:
#Only a handful of Chinese restaurants don't deliver

In [13]:
restaurant[restaurant['Type'] == 'Chinese']['Delivery'].value_counts()

True     437
False     52
Name: Delivery, dtype: int64

In [14]:
#Delivery is 1 and Non is 0 so we can see the delivery decreasing as ratings
#increase for Chinese restaurants

In [15]:
restaurant[restaurant['Type']=='Chinese'].groupby('Ratings')['Delivery'].mean()

Ratings
2.0    1.000000
2.5    0.941176
3.0    0.960526
3.5    0.932584
4.0    0.870588
4.5    0.761905
5.0    0.200000
Name: Delivery, dtype: float64

In [16]:
restaurant[restaurant['Type']=='Italian'].groupby('Ratings')['Delivery'].mean()

Ratings
3.0    0.888889
3.5    0.949580
4.0    0.932886
4.5    0.935185
5.0    1.000000
Name: Delivery, dtype: float64